<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome to Add Record Section
    <form method="post" action="">
        {% csrf_token %}
        Name:
        <input type="text" name="name" value="{{data.name}}"/><br>
        Email:
        <input type="email" name="email" value="{{data.email}}"><br/>
        Phone No:
        <input type="tel" name="phone" value="{{data.phone}}"><br/>
        Salary:
        <input type="number" name="salary" value="{{data.salary}}"><br/>
        City:
        <input type="text" name="city" value="{{data.city}}"/><br/>
        <input type="submit" name="submit"/>

    </form>
</body>
</html>